html { margin-top: 20px;}
body{background: black;color:white}
#chat-content { height: 180px;  overflow-y: scroll; }
.video{
    height:80%;
    width: 95%;
    margin-bottom:10px;
}
.video-container{
    height:70%;
    width: 30%;
    float:left;
    margin: 20px;
    text-align: center;

}
.container{
    height:60%;
    width: 60%;
    float:right;
   text-align: left;
    margin-top: 40px;
}
.form-label{
    margin:5px;
}
.form-container{
    float:left;
    width: 30%;
}
.remote-video-container{
    float:right;
    width: 60%;
    height: 10%;
    margin: 20px;
}
.remote-video{
    height: 30%;
    width: 30%;
    margin:10px;
}
.btn{
    background-image:url('../images/btn-join.jpeg');
    border: none;
    padding: 5px;
    color: white;
}
.btn-send{
    background-image:url('../images/btn-join.jpeg');
    border: none;
    padding: 5px;
    color:white;
}

.summary{
font-size: large;
}
.extra-text{
    font-size: small;
    font-style: italic;
}