<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/app.css">
    <title>SimpleWebRTC</title>
</head>
<body>
<!-- Main Content -->
<div>
    <h1>Simple WebRTC Messenger</h1>
    <hr>
    <div>
        <!-- Local Camera -->
        <div class="video-container">
            <h4 style="margin:0;">
                Local Camera
            </h4>
            <img id="local-image" class="video" src="images/image.png">
            <video id="local-video" class="video" style="display: none" autoplay></video>
        </div>
        <!-- Chat Section -->
        <div class="container">
            <div class="form-container">
                <div class="form">

                    <div class="field">
                        <label>User Name</label>
                        <input type="text" class="form-label" placeholder="Enter user name" id="username"
                               name="username"><br/>
                        <label>Room Name</label>
                        <input type="text" class="form-label" placeholder="Enter room name" id="roomName"
                               name="roomName">
                    </div>

                    <br>

                    <button id="create-btn" class='btn' onclick="action('create-btn')">Create Room</button>
                    <button id="join-btn" class='btn' onclick="action('join-btn')">Join Room</button><br /><br/>
                   <!-- <button id="start-recording-btn" class='btn' onclick="action()">Start Recording</button>
                    <button id="end-recording-btn" class='btn' onclick="action()">Start Recording</button>-->

                </div>
                <!-- Chat Room Messages -->
                <div id="chat"></div>

            </div>
            <div class="remote-video-container">
                <h3> Remote Cameras</h3>
                <div id="remote-videos">
                    <img class="remote-video" src="images/image.png">

                    <img class="remote-video" src="images/image.png">

                    <img class="remote-video" src="images/image.png">

                    <img class="remote-video" src="images/image.png">

                </div>
            </div>

        </div>


        <!-- Chat Template -->
        <script id="chat-template" type="text/x-handlebars-template">
            <h3>Room :<strong>{{ room }}</strong></h3>
            <hr>
            <div id="chat-content"></div>
            <hr>
            <div>
                <div>
                    <label>Post Message</label>
                    <textarea id="post-message" name="post-message" rows="1"></textarea>
                </div><br />
                <div id="post-btn" class="btn-send">Send</div>
            </div>
        </script>
        <!-- Chat Content Template -->
        <script id="chat-content-template" type="text/x-handlebars-template">
            {{#each messages}}
            <div class="event">
                <div class="label">
                    <i></i>
                </div>
                <div class="content">
                    <div class="summary">
                         {{ username }}:
                    </div>
                    <div class="extra-text">
                        {{ message }}
                    </div>
                </div>
            </div>
            {{/each}}
        </script>
        <script id="remote-video-template" type="text/x-handlebars-template">
            <div id="{{ id }}" class="four wide column"></div>
        </script>

        <!-- Scripts -->
        <script src="scripts/jquery/dist/jquery.min.js"></script>
        <script src="scripts/handlebars/dist/handlebars.min.js "></script>
        <script src="scripts/simplewebrtc/out/simplewebrtc-with-adapter.bundle.js"></script>
        <script src="js/app.js"></script>
</body>
</html>